
SERVER_URL=
#Debug Release Client IDs
#GOOGLE_CLIENT_ID='169589333425-gkhh760i7at9q31j4bc9b78vfiee4f2o.apps.googleusercontent.com'
#GOOGLE_SERVER_CLIENT_ID=
#Play Store release Client ID
#GOOGLE_CLIENT_ID=